* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
    background-repeat: no-repeat;
    /* color: #382633; */
}

#root {
    font-family: "Kanit", sans-serif;
    min-height: calc(100vh - 3rem);    
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    margin-top: 3rem;
}

.navbar {
    position: fixed;
    background: white;
    top: 0;
    width: 100%;
    height: 2rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-bottom: 2px solid black;
    /* border: 2px solid black; */
}

.nav-home {
    cursor: pointer;
    position: absolute;
    left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-home .logo {
    height: 2rem;
}

.nav-home .name {
    font-size: 1.25rem;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.nav-item {
    cursor: pointer;
    margin: 0 1rem 0 1rem;
}



/* League  */

.l-img, .t-img {
    background: white;
    border-radius: .5rem;
    padding: .5rem;
}

.leagues {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.league {
    background: #242423;
    color: white;
    position: relative;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin: .5rem;
    box-shadow: 5px 5px 10px black;
}
.league:hover {
    cursor: pointer;
    opacity: .65;
}

.league .country-flag {
    position: absolute;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 1rem 0 0 0;
    width: 2rem;
    top: 0;
    left: 0;
}

.league .league-logo {
    background: white;
    border-radius: .5rem;
    padding: 0 .5rem;
}

.league .header {
    margin-top: 2rem;
}

/* Team, Player */

.teams, .players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.team, .player {
    /* background: #060042; */
    /* background: #9D6381; */
    background: #242423;
    color: white;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin: .5rem;
    box-shadow: 5px 5px 10px black;    
}

.team {
    width: 180px;
}

.player {
    width: 150px;
}

.player .player-image {
    border-radius: .25rem;
}


.player .marketValue {
    min-height: 24px;
}


.player .face-image {
    max-height: 4rem
}

.team:hover {
    cursor: pointer;
    opacity: .7;
}


.team-header, .player-header{
    font-size: 1rem;
}


.team-image {
    height: 3rem;
    background: white;
    border-radius: .5rem;
    padding: 0 .5rem;
}

.nationality-image {
    width: 1rem;
    margin-right: .5rem;
    border: 2px solid black;
}


a.not-decorated {
    color: black;
    text-decoration: none;
}

.go-back-btn {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    position: fixed;
    background: transparent;
    border: none;
    top:3rem;
    right: 2rem;
}
.go-back-btn img {
    width: 100%;
}

.search-players {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input  {
    width: 14rem;
    padding: 12px 32px;

    font-size: 14px;
    line-height: 18px;
    
    color: #575756;
    background-color: white;

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
        color: color(#575756 a(0.8));
        text-transform: uppercase;
        letter-spacing: 1.5px;
}

.search__input:focus {
        padding: 12px .5rem;
        outline: 0;
        /* border: 1px solid transparent; */
        /* border-bottom: 1px solid #575756; */
        border-radius: 0;
        /* background-position: 95% center; */
}

.found-players {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-overview {
    border-radius: .25rem;
    box-shadow: 5px 5px 10px black;
    display: flex;
    align-items: center;
    width: 50%;
    background: white;
    padding: .5rem;
    margin-bottom: .5rem;
}

.player-overview img.face-image, .player-overview img.team-image, .player-overview img.league-image {
    height: 50px;
}

.player-overview img.team-image, .player-overview img.league-image {
    cursor: pointer;
}

.player-overview p.name, .player-overview img.league-image  {
    margin-left: 1rem;
}


.player-overview img.team-image{
    margin-left: auto;
}

